<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465765827507-ai0kpcd1l94r01d1r4a2gs11salqunul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465765827507-ai0kpcd1l94r01d1r4a2gs11salqunul</string>
	<key>API_KEY</key>
	<string>AIzaSyCdJPrhFOFDlBYEVZWZYtV8gXyAh--gNRU</string>
	<key>GCM_SENDER_ID</key>
	<string>465765827507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noticias</string>
	<key>PROJECT_ID</key>
	<string>noticias-f8c37</string>
	<key>STORAGE_BUCKET</key>
	<string>noticias-f8c37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465765827507:ios:73495a807e3cd08a2901c6</string>
</dict>
</plist>